.header {
  &__nav {
    display: flex;
    gap: 20px;
    justify-content: end;
    padding: 10px 30px;
    align-items: center;
    li {
      font-size: 18px;
      font-weight: 500;
      list-style: none;
      color: #000;
      a {
        text-decoration: none;
      }
    }
  }
}
